### Missing Values

In [1]:
# let's start with importing our libraries and setting our parameters.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

plt.rcParams['figure.figsize']=  [5,5]
sns.set_context(context= 'paper', font_scale= 1, rc= {'font': 'monospace'})
plt.style.use('seaborn-darkgrid')

In [2]:
data= pd.read_csv('missing_values_demo.csv')
data.shape

FileNotFoundError: [Errno 2] File missing_values_demo.csv does not exist: 'missing_values_demo.csv'

In [3]:
data.head()

,BCT_CODBUR,CTR_MATFIS,CTR_CATEGO_X,FJU_CODFJU,CTR_CESSAT,ACT_CODACT,CTR_OBLDIR,CTR_OBLACP,CTR_OBLRES,CTR_OBLFOP,...,target,FAC_MNTPRI_F,FAC_MFODEC_F,FAC_MNTDCO_F,FAC_MNTTVA_F,FAC_MNTPRI_C,FAC_MFODEC_C,FAC_MNTDCO_C,FAC_MNTTVA_C,id
0,49,14185,P,99,1,6101,4,2,2,2,...,13.575957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id0
1,221,6032,P,99,0,6271,8,2,1,1,...,11.692894,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id1
2,181,8907,P,99,0,6102,4,2,2,2,...,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id2
3,252,5783,M,22,0,4403,4,2,2,2,...,16.237871,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id3
4,234,1477,P,99,0,6312,8,2,2,1,...,13.399983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,train_id4

In [4]:
df= data.copy()

In [5]:
#Removes columns with Nan values percentage greater than thresh
def missing_removal(df, thresh, confirm= None):
    holder= {}
    for col in df.columns:
        rate= df[col].isnull().sum() / df.shape[0]
        if rate > thresh:
            holder[col]= rate
    if confirm==True:
        df.drop(columns= [i for i in holder], inplace= True)
        return df
    else:
        print(f'Number of columns that have Nan values above the thresh specified:{len(holder)}')
        return holder

In [6]:
missing_removal(df= df, thresh= 0.5, confirm= False)

Number of columns that have Nan values above the thresh specified:30

{'ADB_MNTORD': 0.7480940406338562,
 'SND_MNTPRD_I': 0.825489961282082,
 'SND_MNTTVA_I': 0.825489961282082,
 'SND_MNTDRC_I': 0.825489961282082,
 'SND_MNTAVA_I': 0.825489961282082,
 'SND_MNTTAX_I': 0.825489961282082,
 'SND_MNTPAY_I': 0.825489961282082,
 'SND_MNTAIR_I': 0.825489961282082,
 'SND_MNTPRD_E': 0.9424021075320321,
 'SND_MNTTVA_E': 0.9424021075320321,
 'SND_MNTDRC_E': 0.9424021075320321,
 'SND_MNTAVA_E': 0.9424021075320321,
 'SND_MNTTAX_E': 0.9424021075320321,
 'SND_MNTPAY_E': 0.9424021075320321,
 'SND_MNTAIR_E': 0.9424021075320321,
 'SND_MNTPRD_A': 0.863409571707979,
 'SND_MNTTVA_A': 0.863409571707979,
 'SND_MNTDRC_A': 0.863409571707979,
 'SND_MNTAVA_A': 0.863409571707979,
 'SND_MNTTAX_A': 0.863409571707979,
 'SND_MNTPAY_A': 0.863409571707979,
 'SND_MNTAIR_A': 0.863409571707979,
 'FAC_MNTPRI_F': 0.9156588033369257,
 'FAC_MFODEC_F': 0.9156588033369257,
 'FAC_MNTDCO_F': 0.9156588033369257,
 'FAC_MNTTVA_F': 0.9156588033369257,
 'FAC_MNTPRI_C': 0.9012493513750848,
 'FAC_MFODEC_C': 0.9012493513750848,
 'FAC_MNTDCO_C': 0.9012493513750848,
 'FAC_MNTTVA_C': 0.9012493513750848}

In [7]:
df= missing_removal(df= df, thresh= 0.5, confirm= True)

In [8]:
df.shape

(25053, 91)

##### STATISTICAL IMPUTATION

In [9]:
%%time
from sklearn.impute import SimpleImputer
# store the columns
cols= df.columns

#instantiate imputer
imputer= SimpleImputer(strategy= 'most_frequent')
df= imputer.fit_transform(df)

# convert back to dataframe
df= pd.DataFrame(df, columns= cols)

Wall time: 3.85 s

In [10]:
missing_removal(df= df, thresh= 0.5, confirm= False)

Number of columns that have Nan values above the thresh specified:0

{}

#### MULTIPLE IMPUTATION OF CHAINED EQUATION (MICE)

In [11]:
df_imp= data[:1000].select_dtypes(exclude= 'object').copy()

In [12]:
%%time
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

# store the columns
cols= df_imp.columns

#instantiate imputer
imputer= IterativeImputer(max_iter= 3)
df_imp= imputer.fit_transform(df_imp)

# convert back to dataframe
df_imp= pd.DataFrame(df_imp, columns= cols)

Wall time: 14.7 s

C:\Users\USER\anaconda3\lib\site-packages\sklearn\impute\_iterative.py:638: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [13]:
missing_removal(df= df_imp, thresh= 0.5, confirm= False)

Number of columns that have Nan values above the thresh specified:0

{}

### ENCODING

In [14]:
data= pd.read_csv('encoding_demo.csv')
data.shape

(107833, 10)

#### Drop ID column, i would've dropped the target column also, but there's a type of encoding that uses the target

In [15]:
data.drop(columns= 'ID', inplace= True)

In [16]:
data.head()

,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,TU 32AIMN,260.0
1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,TU 31BIMO,20.0
2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,TU 32AIMN,0.0
3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,TU 736IOK,0.0
4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,TU 320IMU,22.0

#### Run a loop to know the number of categories in each column (There are times where columns represented with numbers are actually categorical. Imagine a data of 20,000 rows having just 5 or 10 unique numbers in a particular column, that's obviously a categorical column)

In [17]:
for col in data.columns:
    print(f'{col}: {data[col].nunique()}')

DATOP: 1011
FLTID: 1861
DEPSTN: 132
ARRSTN: 128
STD: 81697
STA: 85136
STATUS: 5
AC: 68
target: 968

#### From the above, we're quite sure columns DEPSTN, ARRSTN, STATUS and AC are categorical

#### Let's start with STATUS since it has just 5 columns.
For a column like this, one-hot encoding is the best.

In [18]:
# copy dataframe:
dataone_hot= data.copy()

dataone_hot= pd.get_dummies(dataone_hot, columns= ['STATUS'], drop_first= True)
dataone_hot.head()

,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,AC,target,STATUS_DEL,STATUS_DEP,STATUS_RTR,STATUS_SCH
0,2016-01-03,TU 0712,CMN,TUN,2016-01-03 10:30:00,2016-01-03 12.55.00,TU 32AIMN,260.0,0,0,0,0
1,2016-01-13,TU 0757,MXP,TUN,2016-01-13 15:05:00,2016-01-13 16.55.00,TU 31BIMO,20.0,0,0,0,0
2,2016-01-16,TU 0214,TUN,IST,2016-01-16 04:10:00,2016-01-16 06.45.00,TU 32AIMN,0.0,0,0,0,0
3,2016-01-17,TU 0480,DJE,NTE,2016-01-17 14:10:00,2016-01-17 17.00.00,TU 736IOK,0.0,0,0,0,0
4,2016-01-17,TU 0338,TUN,ALG,2016-01-17 14:30:00,2016-01-17 15.50.00,TU 320IMU,22.0,0,0,0,0

#### Now for features/ columns that have many categories, we try frequency encoding. We'll define our own function for the task

In [19]:
# Frequency encoding
def freq_enc(df, cols):
    for col in cols:
        df[col]= df[col].map(round(df[col].value_counts()/len(df),4))
    return df

# count encoding
def count_enc(df, cols):
    for col in cols:
        df[col]= df[col].map(round(df[col].value_counts()))
    return df

In [20]:
# copy data
data_freq= data.copy()

data_freq= freq_enc(df= data_freq, cols= ['DEPSTN', 'ARRSTN','AC' ])
data_freq.head()

,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,2016-01-03,TU 0712,0.0125,0.3948,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,0.0353,260.0
1,2016-01-13,TU 0757,0.0142,0.3948,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,0.0270,20.0
2,2016-01-16,TU 0214,0.3943,0.0134,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,0.0353,0.0
3,2016-01-17,TU 0480,0.0951,0.0050,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,0.0258,0.0
4,2016-01-17,TU 0338,0.3943,0.0146,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,0.0438,22.0

#### Now target mean encoding. 
* Simply calculate the mean of the target column for each category and map it to each category in the column
* we'll write our own function for this too

In [21]:
# target mean encoding
def target_mean_enc(df, cols, target_col):
    mean_holder= {}
    for col in cols:
        col_mean= {}
        cat= list(df[col].unique())
        for i in cat:
            data= df[df[col]== i]
            mean= np.mean(data[target_col])
            col_mean[i]= mean
        mean_holder[col]= col_mean
    return mean_holder

In [22]:
means= target_mean_enc(df= data, cols= ['DEPSTN', 'ARRSTN','AC' ], target_col= 'target')
means

{'DEPSTN': {'CMN': 49.48480355819125,
  'MXP': 54.55019556714472,
  'TUN': 44.489722966934764,
  'DJE': 28.30101443620757,
  'TLS': 72.31411764705882,
  'IST': 95.54160887656033,
  'ORY': 51.76313841598816,
  'MIR': 34.521341463414636,
  'BRU': 41.151493080844865,
  'ABJ': 77.80194410692589,
  'VCE': 52.02552204176334,
  'AMS': 74.92909535452323,
  'FRA': 49.341074020319304,
  'BCN': 50.481327800829874,
  'JED': 95.75659050966608,
  'ALG': 80.45454545454545,
  'LIS': 54.8266253869969,
  'SXB': 72.50615114235501,
  'LYS': 74.37574215436811,
  'OUA': 66.0068493150685,
  'LGW': 52.981818181818184,
  'BEY': 30.625,
  'NCE': 48.71890435563538,
  'OPO': 43.05797101449275,
  'MRS': 57.41476274165202,
  'DUS': 41.72563176895307,
  'SFA': 32.959651035986916,
  'FCO': 39.13507109004739,
  'CDG': 81.2012142237641,
  'NKC': 110.58703071672355,
  'NTE': 64.24444444444444,
  'ZRH': 38.153225806451616,
  'GVA': 47.19120287253142,
  'OUD': 16.644970414201183,
  'MUC': 41.63368983957219,
  'SXF': 61.94879518072289,
  'HAM': 65.75964391691394,
  'NDR': 21.897233201581027,
  'NBE': 31.643790849673202,
  'CAI': 75.42238267148015,
  'BEG': 52.70281124497992,
  'VIE': 66.04545454545455,
  'ORN': 81.52127659574468,
  'MAD': 70.02245250431778,
  'TOE': 34.50374064837905,
  'BKO': 95.93258426966293,
  'DKR': 90.59693877551021,
  'KGL': 3.0,
  'BLQ': 59.009280742459396,
  'MLA': 5.394736842105263,
  'AHU': 35.66,
  'LHR': 76.43739279588337,
  'BOD': 53.023936170212764,
  'PRG': 38.91091593475533,
  'LJU': 39.107142857142854,
  'SVO': 89.359375,
  'MED': 66.39058524173028,
  'BUD': 37.578034682080926,
  'ARN': 32.2,
  'CPH': 18.153846153846153,
  'CRL': 14.0,
  'OST': 56.166666666666664,
  'TNG': 1.9090909090909092,
  'GAF': 0.23333333333333334,
  'NAP': 2.9116465863453813,
  'BRQ': 34.45454545454545,
  'OSR': 31.7,
  'YUL': 45.69135802469136,
  'NIM': 69.2870090634441,
  'TMR': 100.0,
  'JIB': 14.0,
  'CGN': 138.0,
  'EBL': 70.17647058823529,
  'GAE': 7.3618421052631575,
  'BJA': 0.0,
  'AYT': 159.5,
  'RAK': 59.0,
  'LFW': 0.0,
  'LIL': 115.66666666666667,
  'PMO': 24.98639455782313,
  'FBM': 0.0,
  'TBJ': 14.8125,
  'PSA': 22.5,
  'KRT': 35.0,
  'GNB': 49.0,
  'CZL': 112.98974358974358,
  'MVB': 0.0,
  'VNO': 1.0,
  'ESB': 0.0,
  'LBV': 0.0,
  'CKY': 91.66666666666667,
  'LED': 69.26760563380282,
  'KSC': 11.529411764705882,
  'BTS': 43.11764705882353,
  'AMM': 2.25,
  'OTP': 112.0,
  'TRN': 9.166666666666666,
  'IEV': 152.25,
  'HBE': 26.571428571428573,
  'CAG': 46.92307692307692,
  'KBP': 341.0,
  'ATH': 93.66666666666667,
  'SKG': 45.0,
  'ADB': 0.0,
  'DSS': 100.73101265822785,
  'DOH': 0.0,
  'COO': 31.928571428571427,
  'LUX': 0.0,
  'FIH': 0.0,
  'BYJ': 0.0,
  'KEF': 0.0,
  'EBM': 0.5,
  'BDS': 202.0,
  'AAL': 0.0,
  'VKO': 134.4920634920635,
  'AAE': 157.0,
  'BRI': 0.0,
  'VRN': 46.925925925925924,
  'SKX': 55.0,
  'HAJ': 157.8695652173913,
  'BLL': 89.25,
  'TLL': 0.0,
  'VOG': 328.0,
  'LAD': 110.5,
  'GHA': 51.0,
  'KTW': 100.0,
  'SJJ': 0.0,
  'KRR': 0.0,
  'RTM': 505.57142857142856,
  'STR': 0.0,
  'TPS': 0.0,
  'CTA': 0.0},
 'ARRSTN': {'TUN': 50.36462933383444,
  'IST': 89.35159500693482,
  'NTE': 48.37222222222222,
  'ALG': 70.11443102352193,
  'BCN': 38.26694329183956,
  'ORY': 41.913101406365655,
  'FCO': 39.94238358326756,
  'NCE': 44.951526032315975,
  'MRS': 55.43690685413005,
  'MED': 73.22137404580153,
  'FRA': 31.190130624092888,
  'BRU': 30.730123997082423,
  'DJE': 35.22955481466954,
  'LYS': 59.83679525222552,
  'CMN': 53.18161601186064,
  'BEG': 51.34939759036145,
  'OUA': 69.72082379862701,
  'GVA': 41.98653500897666,
  'MXP': 49.30704041720991,
  'BEY': 35.58894230769231,
  'MAD': 50.07426597582038,
  'JED': 71.65586690017513,
  'ABJ': 50.191980558930744,
  'VIE': 57.64962121212121,
  'MLA': 17.657971014492755,
  'BLQ': 56.63109048723898,
  'SFA': 46.20937840785169,
  'LIS': 57.72360248447205,
  'LHR': 63.56432246998285,
  'CDG': 78.38494809688581,
  'MIR': 42.42239573414588,
  'CAI': 53.96756756756757,
  'DUS': 31.446450060168473,
  'HAM': 43.26409495548961,
  'NBE': 42.38949671772429,
  'ZRH': 39.583333333333336,
  'AMS': 42.82885085574572,
  'NDR': 36.130434782608695,
  'TLS': 66.81294117647059,
  'VCE': 43.13921113689095,
  'SXB': 61.91388400702988,
  'MUC': 35.06417112299465,
  'LGW': 30.685714285714287,
  'CRL': 8.166666666666666,
  'ORN': 68.21063829787234,
  'DKR': 70.84143222506394,
  'BOD': 51.473404255319146,
  'SXF': 48.38855421686747,
  'LJU': 39.732142857142854,
  'OST': 27.27777777777778,
  'NKC': 95.45704467353951,
  'BKO': 86.35393258426966,
  'TOE': 39.35880933226066,
  'AHU': 48.14,
  'YUL': 38.16460905349794,
  'PRG': 34.869510664993726,
  'CPH': 14.153846153846153,
  'ARN': 35.4,
  'OUD': 32.29585798816568,
  'BRQ': 45.67768595041322,
  'GAF': 2.0338983050847457,
  'JIB': 0.0,
  'BUD': 27.45664739884393,
  'OPO': 37.85507246376812,
  'KGL': 15.0,
  'NIM': 70.66465256797584,
  'SVO': 70.53125,
  'LIL': 112.8,
  'OSR': 34.0,
  'EBL': 59.23529411764706,
  'TNG': 11.818181818181818,
  'PSA': 76.0,
  'CGN': 84.78571428571429,
  'AYT': 137.66666666666666,
  'GAE': 6.863013698630137,
  'NAP': 1.9397590361445782,
  'BJA': 5.0,
  'KRT': 26.0,
  'LFW': 0.0,
  'TBJ': 25.75,
  'PMO': 15.210884353741497,
  'TMR': 382.0,
  'FBM': 11.5,
  'RAK': 140.0,
  'GNB': 0.0,
  'ESB': 355.0,
  'CZL': 85.6923076923077,
  'LBV': 0.0,
  'KSC': 16.794117647058822,
  'CKY': 74.10112359550561,
  'AMM': 0.0,
  'LED': 65.1830985915493,
  'BTS': 46.1764705882353,
  'MVB': 0.0,
  'HBE': 61.42857142857143,
  'OTP': 0.0,
  'CAG': 79.53846153846153,
  'VNO': 0.0,
  'TRN': 71.16666666666667,
  'ATH': 81.875,
  'ADB': 45.0,
  'SKG': 13.0,
  'BYJ': 0.0,
  'DSS': 61.54746835443038,
  'COO': 43.94897959183673,
  'IEV': 1.6,
  'LUX': 15.5,
  'KBP': 0.0,
  'DOH': 4.0,
  'FIH': 36.0,
  'EBM': 14.2,
  'BDS': 13.0,
  'VKO': 90.92063492063492,
  'AAE': 28.0,
  'BLL': 58.375,
  'HAJ': 83.6086956521739,
  'BRI': 0.0,
  'CTA': 25.0,
  'VRN': 48.148148148148145,
  'SKX': 15.0,
  'VOG': 178.0,
  'BGY': 0.0,
  'LAD': 0.0,
  'KRR': 13.0,
  'SJJ': 0.0,
  'GHA': 130.0,
  'RTM': 389.2857142857143,
  'TPS': 0.0},
 'AC': {'TU 32AIMN': 52.669729587818324,
  'TU 31BIMO': 35.076843910806176,
  'TU 736IOK': 33.682699210337404,
  'TU 320IMU': 58.86769686706181,
  'TU 736IOP': 43.20521945432977,
  'TU 32AIMH': 58.978638847491304,
  'TU 32AIMI': 51.17493796526055,
  'TU 32AIMC': 34.15348837209302,
  'TU 31AIMK': 22.325021496130695,
  'TU 32AIMF': 56.8852762357917,
  'TU 32AIMP': 55.05089242643512,
  'TU 320IMR': 58.260378178656815,
  'TU 332IFN': 71.93902944836168,
  'TU 31AIMJ': 37.517211703958694,
  'TU 320IMT': 58.40612861458783,
  'TU 736IOL': 39.63716814159292,
  'TU 31BIMQ': 31.443978282329713,
  'TU 736IOR': 34.341324921135644,
  'TU 320IMV': 56.915232076705166,
  'TU 320IMS': 57.3296155671571,
  'TU 332IFM': 76.88732959101844,
  'TU 320IMW': 61.4324439701174,
  'TU 32AIML': 61.06477438136827,
  'TU 32AIMD': 64.46981919332406,
  'TU 32AIMM': 63.453267477203646,
  'TU CR9ISA': 7.197492163009405,
  'TU 32AIMG': 56.71410798706146,
  'TU 736ION': 39.93063411729681,
  'TU 736IOM': 45.17778592375367,
  'TU 736IOQ': 39.202473958333336,
  '5M 343SUN': 116.22058823529412,
  'UG AT7LBD': 1.1977225672877847,
  '5K 343TQY': 61.0,
  'UG AT7LBE': 1.630712008501594,
  'UG AT7AT7': 0.0,
  'BJ 320INP': 87.41176470588235,
  'BJ 320INH': 57.5,
  'BJ 320INQ': 32.0625,
  'BJ 320INA': 18.666666666666668,
  'UG CR9XXX': 0.0,
  'UG CR9CR9': 0.0,
  'TU 32A32A': 0.0,
  'BJ 320INB': 71.05882352941177,
  'GJ 734CGC': 167.7058823529412,
  'QS 738TSC': 39.78125,
  'PS 738PSD': 87.75820895522388,
  'D4 319CQG': 40.52158273381295,
  'BJ 320INR': 46.0625,
  'BJ 320INC': 25.8,
  'UJ 320TCF': 118.35,
  '5K 345TFX': 136.90654205607476,
  'D4 320CQP': 89.76712328767124,
  '5M 343JAI': 98.08527131782945,
  'GW 320MQH': 126.1470588235294,
  'UG CR9ISA': 4.1558441558441555,
  '6P M87TRJ': 19.166666666666668,
  'TU CR9CR9': 0.0,
  'TU CR9XXX': 0.0,
  'GJ 733EWE': 27.0,
  'GJ 734PGC': 103.09473684210526,
  'GJ 733GGC': 45.513888888888886,
  'GJ 734MGC': 121.69333333333333,
  'GJ 733LGC': 65.0,
  '5M 343FOX': 48.15873015873016,
  'BJ 320INO': 62.0,
  'OL 321ABY': 205.4,
  'X9 320VEB': 91.07692307692308,
  'TU 320320': 0.0}}

About the above process;

a. You know the test data doesn't have a target column, it's pertinent that we retain the means so that we can apply them to the test data, that's why this function didn't just transform them straight up like freq_enc did.

b. What did this function output gan sef, leemao.
* The function returned a dictionary of dictionaries. The first dictionary has the columns we passed as keys which makes sense right?. The second level dictionaries, i.e the keys to the first dictionaries had keys that are simply the categories in them (the second level dictionaries keys are the unique categories in each column)
    
    
    

       
 c. How do we use this. Simple, we use the map function, shikena

In [23]:
# Copy df
data_target_mean= data.copy()
for col in ['DEPSTN', 'ARRSTN','AC' ]:
    data_target_mean[col]= data_target_mean[col].map(means[col])
    
data_target_mean.head()

,DATOP,FLTID,DEPSTN,ARRSTN,STD,STA,STATUS,AC,target
0,2016-01-03,TU 0712,49.484804,50.364629,2016-01-03 10:30:00,2016-01-03 12.55.00,ATA,52.669730,260.0
1,2016-01-13,TU 0757,54.550196,50.364629,2016-01-13 15:05:00,2016-01-13 16.55.00,ATA,35.076844,20.0
2,2016-01-16,TU 0214,44.489723,89.351595,2016-01-16 04:10:00,2016-01-16 06.45.00,ATA,52.669730,0.0
3,2016-01-17,TU 0480,28.301014,48.372222,2016-01-17 14:10:00,2016-01-17 17.00.00,ATA,33.682699,0.0
4,2016-01-17,TU 0338,44.489723,70.114431,2016-01-17 14:30:00,2016-01-17 15.50.00,ATA,58.867697,22.0

#### Lastly, ordinal encoding.
This one is quite easy. We'll write a dataframe for it

In [24]:
df= pd.DataFrame({'Random': np.random.rand(10), 'size': ['small', 'big', 'small', 'medium', 'big', 'small', 
                                                        'medium', 'medium', 'big', 'big']})
df

     Random    size
0  0.330349   small
1  0.873610     big
2  0.148391   small
3  0.735745  medium
4  0.306169     big
5  0.655549   small
6  0.848357  medium
7  0.705416  medium
8  0.705338     big
9  0.479950     big

In [25]:
# we could just say 
df_first= df.copy()

df_first['size']= df_first['size'].map({'small':1, 'medium':2, 'big':3})
df_first

     Random  size
0  0.330349     1
1  0.873610     3
2  0.148391     1
3  0.735745     2
4  0.306169     3
5  0.655549     1
6  0.848357     2
7  0.705416     2
8  0.705338     3
9  0.479950     3

In [26]:
# or
df_sec= df.copy()

df_sec['size']= df_sec['size'].replace(['small', 'medium', 'big'], [1,2,3])
df_sec

     Random  size
0  0.330349     1
1  0.873610     3
2  0.148391     1
3  0.735745     2
4  0.306169     3
5  0.655549     1
6  0.848357     2
7  0.705416     2
8  0.705338     3
9  0.479950     3